{% extends 'blog/base.html' %}{% load static %} {% load i18n %} 
{% block head_title %}{% trans "Reverence | Contact-Us" %}{% endblock %} {% block content %}

<style>
      /*---------------------
      Contact
    -----------------------*/

      .contact {
        padding-top: 80px;
        padding-bottom: 50px;
      }

      .contact__widget {
        margin-bottom: 30px;
      }

      .contact__widget span {
        font-size: 36px;
        color: #9055A2
      }


      .contact__widget h4 {
        color: #1c1c1c;
        font-weight: 700;
        margin-bottom: 6px;
        margin-top: 18px;
      }

      .contact__widget p {
        color: #666666;
        margin-bottom: 0;
      }

      /*---------------------
      Map
    -----------------------*/

      .map {
        height: 500px;
        position: relative;
      }

      .map iframe {
        width: 100%;
      }

      .map .map-inside {
        position: absolute;
        left: 50%;
        top: 160px;
        -webkit-transform: translateX(-175px);
        -ms-transform: translateX(-175px);
        transform: translateX(-175px);
      }

      .map .map-inside i {
        font-size: 48px;
        color: #9055A2
        position: absolute;
        bottom: -75px;
        left: 50%;
        -webkit-transform: translateX(-18px);
        -ms-transform: translateX(-18px);
        transform: translateX(-18px);
      }

      .map .map-inside .inside-widget {
        width: 350px;
        background: #ffffff;
        text-align: center;
        padding: 23px 0;
        position: relative;
        z-index: 1;
        -webkit-box-shadow: 0 0 20px 5px rgba(12, 7, 26, 0.15);
        box-shadow: 0 0 20px 5px rgba(12, 7, 26, 0.15);
      }

      .map .map-inside .inside-widget:after {
        position: absolute;
        left: 50%;
        bottom: -30px;
        -webkit-transform: translateX(-6px);
        -ms-transform: translateX(-6px);
        transform: translateX(-6px);
        border: 12px solid transparent;
        border-top: 30px solid #ffffff;
        content: "";
        z-index: -1;
      }

      .map .map-inside .inside-widget h4 {
        font-size: 22px;
        font-weight: 700;
        color: #1c1c1c;
        margin-bottom: 4px;
      }

      .map .map-inside .inside-widget ul li {
        list-style: none;
        font-size: 16px;
        color: #666666;
        line-height: 26px;
      }

      /*---------------------
      Contact Form
    -----------------------*/

      .contact__form__title {
        margin-bottom: 50px;
        text-align: center;
      }

      .contact__form__title h2 {
        color: #1c1c1c;
        font-weight: 700;
      }

      .contact-form {
        padding-top: 80px;
        padding-bottom: 80px;
      }

      .contact-form form input {
        width: 100%;
        height: 50px;
        font-size: 16px;
        color: #6f6f6f;
        padding-left: 20px;
        margin-bottom: 30px;
        border: 1px solid #ebebeb;
        border-radius: 4px;
      }

      .contact-form form input::placeholder {
        color: #6f6f6f;
      }

      .contact-form form textarea {
        width: 100%;
        height: 150px;
        font-size: 16px;
        color: #6f6f6f;
        padding-left: 20px;
        margin-bottom: 24px;
        border: 1px solid #ebebeb;
        border-radius: 4px;
        padding-top: 12px;
        resize: none;
      }

      .contact-form form textarea::placeholder {
        color: #6f6f6f;
      }

      .contact-form form button {
        font-size: 18px;
        letter-spacing: 2px;
      }

      .breadcrumb-section {
        height:50%;
  	display: flex;
  	align-items: center;
  	padding: 45px 0 40px;
  }

  .breadcrumb__text h2 {
  	font-size: 36px;
  	color: #000;
  	font-weight: 500;
  }

  .breadcrumb__option a {
  	display: inline-block;
  	font-size: 16px;
  	color: #ffffff;
  	font-weight: 700;
  	margin-right: 20px;
  	position: relative;
  }

  .breadcrumb__option a:after {
  	position: absolute;
  	right: -12px;
  	top: 13px;
  	height: 1px;
  	width: 10px;
  	background: #ffffff;
  	content: "";
  }

  .breadcrumb__option span {
  	display: inline-block;
  	font-size: 16px;
  	color: #ffffff;
  }
</style>

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="breadcrumb__text">
          <h2>Contact Us</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Contact Section Begin -->
<section id="contact" class="contact spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 text-center">
        <div class="contact__widget">
          <span><i class="fon fa fa-phone"></i></span>
          <h4>Phone</h4>
          <p>+263 772 894 737</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 text-center">
        <div class="contact__widget">
          <span><i class="fa fa-location-arrow" aria-hidden="true"></i></span>
          <h4>Address</h4>
          <p>15A Mountbatten Drive. Malborough</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 text-center">
        <div class="contact__widget">
          <span><i class="fa fa-clock-o" aria-hidden="true"></i></span>
          <h4>Open time</h4>
          <p>10:00 am to 23:00 pm</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 text-center">
        <div class="contact__widget">
          <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
          <h4>Email</h4>
          <p>vanessabanda1@gmail.com</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Contact Section End -->

<!-- Map Begin -->
<div class="map">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3799.7112894574034!2d30.999863814881547!3d-17.758237687857363!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTfCsDQ1JzI5LjciUyAzMcKwMDAnMDcuNCJF!5e0!3m2!1sen!2szw!4v1626202661583!5m2!1sen!2szw"
    height="500"
    style="border: 0"
    allowfullscreen=""
    aria-hidden="false"
    tabindex="0"
  ></iframe>
  <div class="map-inside">
    <i class="icon_pin"></i>
    <div class="inside-widget">
      <h4>Harare</h4>
      <ul>
        <li>Phone: +263 772 894 737</li>
        <li>Add: 15A Mountbatten Drive. Malborough</li>
      </ul>
    </div>
  </div>
</div>
<!-- Map End -->

<!-- Contact Form Begin -->
<div class="contact-form spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="contact__form__title">
          <h2>Leave Message</h2>
        </div>
      </div>
    </div>
    <form action="#">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <input type="text" placeholder="Your name" />
        </div>
        <div class="col-lg-6 col-md-6">
          <input type="text" placeholder="Your Email" />
        </div>
        <div class="col-lg-12 text-center">
          <textarea placeholder="Your message"></textarea>
          <button class="btn btn-primary" type="submit">Send Message</button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- Contact Form End -->

{% endblock content %}
