{% load static %}
<header class="header">
  <nav class="navbar navbar-expand-lg navbar-light py-4 index-forward bg-white">
    <div
      class="container d-flex justify-content-center justify-content-lg-between align-items-center"
    >
      <ul class="list-inline small mb-0 text-dark d-none d-lg-block">
        <li class="list-inline-item">
          <a class="reset-anchor" href="#"><i class="fab fa-facebook-f"></i></a>
        </li>
        <li class="list-inline-item">
          <a class="reset-anchor" href="#"><i class="fab fa-twitter"></i></a>
        </li>
        <li class="list-inline-item">
          <a class="reset-anchor" href="https://www.instagram.com/p/CQ33ZKRj1-7/?utm_medium=copy_link"><i class="fab fa-instagram"></i></a>
        </li>
        <li class="list-inline-item">
          <a class="reset-anchor" href="#"><i class="fab fa-linkedin"></i></a>
        </li>
        <li class="list-inline-item">
          <a class="reset-anchor" href="https://youtube.com/channel/UCVfb5F2OsOM_t_sKx4Xmurw"><i class="fab fa-youtube"></i></a>
        </li>
      </ul>
      <a class="navbar-brand" href="{% url 'blog_app:home' %}"
        ><img src="{% static 'img/logo2.jpg' %} " alt="logo" width="150" /></a
      >
      
      
      <a
        class="reset-anchor text-small mb-0 h6 d-none d-lg-block"
        href="mailto:Juliette@email.com"
        ><i class="far fa-envelope mr-2 text-primary"></i>info@reverence.co.zw</a
      >
      
      
    </div>
  </nav>
  <nav
    class="navbar navbar-expand-lg navbar-light border-top border-bottom border-light"
  >
    <div class="container">
      <ul class="list-inline small mb-0 text-dark d-block d-lg-none">
        <li class="list-inline-item">
          <a class="reset-anchor" href="#"><i class="fab fa-facebook-f"></i></a>
        </li>
        <li class="list-inline-item">
          <a class="reset-anchor" href="#"><i class="fab fa-twitter"></i></a>
        </li>
        <li class="list-inline-item">
          <a class="reset-anchor" href="#"><i class="fab fa-instagram"></i></a>
        </li>
        <li class="list-inline-item">
          <a class="reset-anchor" href="#"><i class="fab fa-linkedin"></i></a>
        </li>
        <li class="list-inline-item">
          <a class="reset-anchor" href="#"><i class="fab fa-youtube"></i></a>
        </li>
      </ul>
      <button
        class="navbar-toggler navbar-toggler-right"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span></span><span></span><span></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <!-- Navbar link--><a
              class="nav-link active"
              href="{% url 'blog_app:home' %}"
              >Home</a
            >
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              id="listingVariants"
              href="#"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              >Categories</a
            >
            <div class="dropdown-menu mt-2" aria-labelledby="listingVariants">

            {% for cat in category.all  %}
             <a class="dropdown-item"  href="{{cat.get_absolute_url}}">{{cat.title}}</a>
            
            {% endfor %}
            
              
              
             
            </div>
          </li>
          
          
          </li>
          <li class="nav-item">
            <!-- Navbar link--><a
              class="nav-link "
              href="{% url 'blog_app:contact' %}"
              >Contact</a
            >
          </li>
          
        </ul>
        
      </div>
    </div>
  </nav>
</header>
